
* {
  box-sizing: border-box;
}

.App {
  margin: 40px;

  width: 80vw;
  margin-right: auto;
  margin-left: auto;
}

.notebook > .table {
  margin-bottom: 30px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header p {

    text-align: center;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}


h1 {
  font-weight: 100;
  color: #565656;
  font-size: 40px;
}

.table {
    border: 1px solid gray;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}


tr:nth-child(odd) {
  background: #f2f2f2
}

tr.header {
    background: #585858;
    /* border-top-left-radius: 3px; */
    border-top-left-radius: 12px;
    overflow: hidden;
}



.table th {
    border: 1px solid #717171;
}

.table th.error {
  background: #bf0d00;
      border: 1px solid red;
}


.table td {
    border: 1px solid #dcdcdc;
}


.table td.error {
  background: #fff0eb;
}

.table td.mismatched {
  border: 2px solid red;
  background: #ffd1d1;
}

.table td.mismatched input {
  margin-bottom: -1px;
  margin-right: -1px;
  outline: none;
}

.table th .colheader {
  display: flex;
}

.table th .colheader .colname {
  padding: 10px;
  cursor: pointer;
    border-right: 1px solid #717171;
  color: white;
  font-size: 1em;
  transition: background 0.2s linear;
}

.table th .colheader .colname:hover {
  background: #444;
}

.table th .colheader input {
  flex-grow: 1;
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  color: white;
  font-size: 1em;
}


.title-field {
  padding: 0 10px;
  background: transparent;
  border: none;
  color: white;
  font-size: 1em;
  outline: none;
  width: 200px;
}

.table td input {
  padding: 10px;
  width: 100%;
  background: transparent;
  border: none;
  font-size: 1em;
}


.table td input:focus {
    outline: 2px solid #4488ff;
    outline-offset: 0px;
}
.add-button {
    /* border: 1px solid gray; */
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-size: 52px;
    background: #585858;
    color: white;
    cursor: pointer;
}


/*.table th {
  border: 1px solid #ddd;
  padding: 10px;
  color: white;
  text-align: left;
}*/